* {
    margin: 0;
    padding: 0;
}

body {
    background: #004980;
    font-family: 'StratosSkyeng';
}

.first-page {

    &__container {
        background: #C2F5FF;
        border-radius: 12px;
        width: 480px;
        height: 459px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;

        &_numbers {
            width: 100%;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            gap: 24px;
            margin-bottom: 67px;
        }
    }

    &__title {
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        text-align: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #004980;
        width: 208px;
        margin-top: 52px;
        margin-bottom: 48px;
    }

    &__numbers {
        background: #FFFFFF;
        border-radius: 12px;
        width: 98px;
        height: 98px;
        font-family: 'StratosSkyeng';
        font-style: normal;
        font-weight: 400;
        font-size: 64px;
        line-height: 72px;
        color: #0080C1;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    &__button {
        width: 246px;
        height: 50px;
        background: #7AC100;
        border-radius: 12px;
        border: none;
        font-family: 'StratosSkyeng';
        font-style: normal;
        font-weight: 400;
        font-size: 24px;
        line-height: 32px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-feature-settings: 'pnum' on, 'lnum' on;
        color: #FFFFFF;
    }
}

.app {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.first-page__container_numbers input[type=radio] {
    display: none;
}

.first-page__container_numbers input[type=radio]:checked+label {
    color: #ce1717;
}
.first-page__container_numbers label {
    cursor: pointer;
}


@font-face {
    font-family: StratosSkyeng;
    src: url(fonts/stratosskyeng-regular.otf);
}